<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Hello, world!{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load compress %}
    {% load staticfiles %}

    <!-- <link rel="shortcut icon" href="/static/favicon.ico"> -->
    <!-- <link type="text/plain" rel="author" href="/static/humans.txt" /> -->

    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    {% endcompress %}
    <link rel="stylesheet" href="{% static 'css/screen.css' %}">
  </head>
  <body>
    <!-- Navigation -->
    {% include 'partials/nav.html' %}

    <div class="container">
      <!-- Messages -->
      <div class="row messages">
        {% include 'partials/messages.html' %}
      </div>

      <!-- Page Header -->
      <div class="row">
        <h1 class="page-header">{% block page_title %}{% endblock %}</h1>
      </div>

      <!-- Main Content -->
      {% block content %}{% endblock %}
    </div>

    {% compress js %}
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endcompress %}
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
